<div class="jumbotron">
<img class="img-responsive" src= alt=''/>
<h1>ЯПОНІЯ</h1>
<h3>Япо́нія (яп. 日本, にっぽん / にほん, МФА: [nip̚.poɴ] / [nihoɴ]) — держава в Східній Азії. Офіційна назва — Япо́нська Держа́ва[9]. Розташована на Японському архіпелазі, у північно-західній частині Тихого океану. Складається з 47 адміністративних одиниць — префектур. Столиця — Токіо. Одна з найбільш технологічно розвинутих країн світу.</h3>
</div>