<ul class="nav nav-tabs">
  <li class="active"><a href="#japan">ЯПОНІЯ</a></li>
  <li><a href="#Netherlands">НІДЕРЛАНДИ</a></li>
  <li><a href="#Scotland">ШОТЛАНДІЯ</a></li>
  <li><a href="#France">ФРАНЦІЯ</a></li>
  <li><a href="#Schweiz">ШВЕЙЦАРІЯ</a></li>
  <li><a href="#Deutschland">НІМЕЧЧИНА</a></li>
</ul>




<div class="conteiner" id="japan">
    <h1 style="text-align: center;">ЯПОНІЯ</h1>
<img class="img-responsive" src="http://expres.ua/gfx/news/ad01678f2931498d6a8df13bb7b067ae.jpg" alt=''/>
<br>
<p>Японія — острівна країна, розташована на східному узбережжі Азії, у північно-західній частині Тихого океану. Зі сходу і півдня її омиває Тихий океан, з заходу — води Японського та Східнокитайського морів, а з півночі — Охотське море. Японський архіпелаг простягнувся дугою з північного сходу на південний захід і налічує чотири великих острови Хоккайдо, Хонсю, Сікоку та Кюсю, які складають 97 % поверхні суходолу і 6848 менших островів. Країна лежить у зоні помірного кліматичного поясу. Її найвіддаленішою точкою на сході є острів Мінамі-Торі села Оґасавара метрополії Токіо (153°59' східної довготи), на заході — містечко Йонаґуні префектури Окінава (122°56' східної широти), на півдні — острів Окіносіма села Оґасавара метрополії Токіо (20°25' північної довготи), а на півночі — острів Бентен міста Вакканай префектури Хоккайдо (45°31' північної довготи)[10]. Площа Японії становить 377 929,99 км²[11].</p>

<p>Більша частина Японських островів укрита горами, серед яких багато вулканів. Найвищий з них — гора Фудзі (3 776 м над рівнем моря).</p>
</div>

<div class="conteiner" id="Netherlands">
    <h1 style="text-align: center;">НІДЕРЛАНДИ</h1>
<img class="img-responsive" src="https://regnum.ru/uploads/pictures/news/2017/03/12/regnum_picture_1489319637393560_normal.jpg" alt=''/>
<br>
<p>Нідерла́нди (нід. Nederland, МФА: [ˈneːdərˌlɑnt]) — країна на заході Європи на березі Північного моря. Частина, офіційно Королі́вства Нідерла́ндів (нід. Koninkrijk der Nederlanden), котре складається з західноєвропейської території та Карибських островів Бонайре, Саба та Сінт-Естатіус, разом з островами Аруба, Кюрасао та Сінт-Мартен (які мають особливий статус).

Часто країну неофіційно називають Голландією за назвою однієї з семи провінцій, що спочатку входила в Республіку Сполучених провінцій Нідерландів у XVI столітті.</p>
</div>
<div class="conteiner" id="Scotland">
    <h1 style="text-align: center;">ШОТЛАНДІЯ</h1>
<img class="img-responsive" src="http://4.bp.blogspot.com/_XXJ-TRp5S5Y/SwLnF4ds-WI/AAAAAAAAADk/h0UlBpq7ajI/s1600/Scottish%2520Flag.jpg" alt=''/>
<br>
<p>Шотла́ндія (Альба, шотл. гел. Alba МФА: [ˈalˠ̪əpə], англ. Scotland МФА: [ˈskɒt.lənd]) — країна, частина Об'єднаного Королівства[1][2][3], колись незалежна держава. Займає північну частину Великої Британії, на півдні межує з Англією, на сході її береги омиває Північне море, на півночі й заході Атлантичний океан, на південному заході — Північна протока та Ірландське море. Окрім того, Шотландія складається ще із близько 790 островів[4], серед яких архіпелаги Шетландські, Оркнейські[5] та Гебридські острови.</p>

<p>Единбург, друге найбільше місто і столиця країни, є одним із найбільших європейських фінансових центрів[6]. Единбург був осередком шотландського просвітництва 18 століття, яке перетворило Шотландію у потужну торгову, інтелектуальну та промислову країну. Ґлазґо — найбільше місто Шотландії[7] — свого часу було одним із провідних промислових міст світу, нині ж є центром міської агломерації Великого Ґлазґо. До акваторії Шотландії належить велика частина Північної Атлантики та Північного моря[8], що містить найбільші запаси нафти у Європейському Союзі. Це дало місту Абердину — третьому найбільшому місту країни — титул європейської нафтової столиці[9].</p>
</div>
<div class="conteiner" id="France">
    <h1 style="text-align: center;">ФРАНЦІЯ</h1>
<img class="img-responsive" src="http://www.telegraf-spb.ru/published/publicdata/B622311/attachments/SC/products_pictures/france_enl.jpg" alt=''/>
<br>
<p>Фра́нція, офіційна назва Францу́зька Респу́бліка (фр. La France, République française) — держава на заході Європи, республіка, що межує на північному сході з Бельгією, Люксембургом і Німеччиною, на сході з Німеччиною, Швейцарією, південному-заході з Іспанією й Андоррою, на південному-сході з Італією та Монако на півдні омивається Середземним морем, на заході — Атлантичним океаном.</p>

<p>Площа (разом з Корсикою) — 543 965 км². Столиця і найбільше місто — Париж. Окрім метрополії, Франції належать численні заморські території — Гваделупа, Сен-Бартелемі, Сен-Мартен, Французька Гвіана, Мартиніка, Майотта, Реюньйон, Сен-П'єр і Мікелон, Південні й Антарктичні території, Нова Каледонія, Французька Полінезія, Волліс і Футуна.</p>

<p>Протягом останніх п'ятисот років Франція була одною з провідних країн світу[2] з сильними культурними, економічними, військовими та політичними впливами на Європу та увесь світ. Протягом 17-18 століть Франція колонізувала великі території у Північній Америці та Південно-Східній Азії, протягом двох наступних століть стала другою найбільшою імперією у світі, завоювавши значні частини Північної, Західної та Центральної Африки, Південно-Східної Азії, а також багато Карибських і Тихоокеанських островів.</p>
</div>

<div class="conteiner" id="Schweiz">
    <h1 style="text-align: center;">ШВЕЙЦАРІЯ</h1>
<img class="img-responsive" src="http://second.net.ua/wp-content/uploads/2017/02/4.jpg" alt=''/>
<br>
<p>Швейца́рія, також Швайца́рія (нім. die Schweiz, фр. la Suisse, італ. Svizzera, рет. Svizra), офіційна назва Швейца́рська Конфедера́ція (нім. Schweizerische Eidgenossenschaft, фр. Confédération suisse, італ. Confederazione Svizzera, рет. Confederaziun svizra) — нейтральна федеративна республіка в Західній Європі.

Датою створення Швейцарської Конфедерації вважають 1 серпня 1291 року, коли три лісові кантони (землі): Урі, Швіц і Унтервальден, відстоюючи незалежність від Габсбурґів, уклали заради оборони «вічний союз» (в рамках «Священної Римської імперії»). Як самостійна держава Швейцарія одержала міжнародне визнання за Вестфальським миром 1648 року. 19 серпня 1798 року в умовах французької окупації було проголошено Гельветійську Республіку, що проіснувала до 1803 року і мала єдину конституцію. Віденський конгрес 1814–1815 рр. встановив кордони Швейцарії, близькі до сучасних, і гарантував її «вічний нейтралітет». 12 вересня 1848 року ухвалено конституцію, що утвердила Швейцарію як єдину федеративну державу.</p>

<p>Латинська назва країни Швейцарії — Confoederatio Helvetica, таке скорочення зустрічається в абревіатурі національної валюти, автомобільних номерних знаках та назві швейцарського інтернет-домену (.ch). На поштових марках використовується латинська назва Helvetia.</p>

<p>Офіційними мовами Швейцарії є: німецька, французька, італійська та частково ретороманська (остання тільки для ділового спілкування з особами-носіями ретороманської мови).</p>
</div>
<div class="conteiner" id="Deutschland">
    <h1 style="text-align: center;">НІМЕЧЧИНА</h1>
<img class="img-responsive" src="http://st.gde-fon.com/wallpapers_original/514197_flag-germanii_nemeckij-flag_flag-federativnoj_1920x1080_www.Gde-Fon.com.jpg" alt=''/>
<br>
<p>Німе́ччина (нім. Deutschland) — країна в Центральній Європі, демократична федеративна республіка. Офіційна назва — Федерати́вна Респу́бліка Німе́ччина (нім. Bundesrepublik Deutschland, МФА: [ˈbʊndəsʁepuˌbliːk ˈdɔʏtʃlant] (прослухати)[4]). Скорочено — ФРН (BRD).

</p>

<p>Складається з 16 федеральних земель. Столиця і найбільше місто країни — Берлін. Займає площу 357 021 км². Клімат помірний сезонний. Населення — 81,8 млн осіб. Член Європейського Союзу та НАТО. Країна з найбільшою кількістю населення і найбільшим рівнем економіки в Європейському союзі. Провідна політична сила на Європейському континенті, технологічний лідер в багатьох галузях. Німеччина є другим за популярністю місцем міграції в світі, поступаючись тільки США.[5]</p>

</div>