<div class="conteiner-fluid">
    <div class="row">
        <div class=" col-sm-6 col-lg-3">
            <h3>ФРАНЦІЯ</h3>
            <img class="img-responsive" src="/images/france.jpg" alt='france' />
            <br>
            <p>Фра́нція, офіційна назва Францу́зька Респу́бліка (фр. La France, République française) — держава на заході Європи,
                республіка, що межує на північному сході з Бельгією, Люксембургом і Німеччиною, на сході з Німеччиною, Швейцарією,
                південному-заході з Іспанією й Андоррою, на південному-сході з Італією та Монако на півдні омивається Середземним
                морем, на заході — Атлантичним океаном.</p>


            {{!-- <button type="button" class="btn btn-inverse">ЗАМОВИТИ</button> --}}


        </div>
        <div class="col-sm-6 col-lg-3">
            <h3>ШВЕЙЦАРІЯ</h3>
            <img class="img-responsive" src="/images/Schweiz.jpg" alt='Schweiz' />
            <br>
            <p>Швейца́рія, також Швайца́рія (нім. die Schweiz, фр. la Suisse, італ. Svizzera, рет. Svizra), офіційна назва Швейца́рська
                Конфедера́ція (нім. Schweizerische Eidgenossenschaft, фр. Confédération suisse, італ. Confederazione Svizzera,
                рет. Confederaziun svizra) — нейтральна федеративна республіка в Західній Європі. Датою створення Швейцарської
                Конфедерації вважають 1 серпня 1291 року, коли три лісові кантони (землі): Урі, Швіц і Унтервальден, відстоюючи
                незалежність від Габсбурґів, уклали заради оборони «вічний союз» (в рамках «Священної Римської імперії»).
                Як самостійна держава Швейцарія одержала міжнародне визнання за Вестфальським миром 1648 року. </p>


        </div>
        <div class=" col-sm-6 col-lg-3">
            <h3>НІМЕЧЧИНА</h3>
            <img class="img-responsive" src="/images/germani.jpg" alt='germani' />
            <br>
            <p>Німе́ччина (нім. Deutschland) — країна в Центральній Європі, демократична федеративна республіка. Офіційна назва
                — Федерати́вна Респу́бліка Німе́ччина (нім. Bundesrepublik Deutschland, МФА: [ˈbʊndəsʁepuˌbliːk ˈdɔʏtʃlant]
                (прослухати)[4]). Скорочено — ФРН (BRD).

            </p>

            <p>Складається з 16 федеральних земель. Столиця і найбільше місто країни — Берлін. Займає площу 357 021 км². Клімат
                помірний сезонний. Населення — 81,8 млн осіб. Член Європейського Союзу та НАТО. Країна з найбільшою кількістю
                населення і найбільшим рівнем економіки в Європейському союзі. Провідна політична сила на Європейському континенті,
                технологічний лідер в багатьох галузях. Німеччина є другим за популярністю місцем міграції в світі, поступаючись
                тільки США.[5]</p>

        </div>
        <div class=" col-sm-6 col-lg-3">
            <h3>ЯПОНІЯ</h3>
            <img class="img-responsive" src="/images/japan.jpg" alt="japan">
            <br>
            <p>Японія — острівна країна, розташована на східному узбережжі Азії, у північно-західній частині Тихого океану.
                Зі сходу і півдня її омиває Тихий океан, з заходу — води Японського та Східнокитайського морів, а з півночі
                — Охотське море. Японський архіпелаг простягнувся дугою з північного сходу на південний захід і налічує чотири
                великих острови Хоккайдо, Хонсю, Сікоку та Кюсю, які складають 97 % поверхні суходолу і 6848 менших островів.
                Країна лежить у зоні помірного кліматичного поясу. </p>
        </div>
    </div>
    <div class="row">

        <div class=" col-sm-6 col-lg-3">
            <h3>НІДЕРЛАНДИ</h3>
            <img class="img-responsive" src="/images/Nederland.jpg" alt='Nederland' />
            <br>
            <p>Нідерла́нди (нід. Nederland, МФА: [ˈneːdərˌlɑnt]) — країна на заході Європи на березі Північного моря. Частина,
                офіційно Королі́вства Нідерла́ндів (нід. Koninkrijk der Nederlanden), котре складається з західноєвропейської
                території та Карибських островів Бонайре, Саба та Сінт-Естатіус, разом з островами Аруба, Кюрасао та Сінт-Мартен
                (які мають особливий статус). Часто країну неофіційно називають Голландією за назвою однієї з семи провінцій,
                що спочатку входила в Республіку Сполучених провінцій Нідерландів у XVI столітті.</p>
        </div>
        <div class=" col-sm-6 col-lg-3">
            <h3>ШОТЛАНДІЯ</h3>
            <img class="img-responsive" src="/images/Scottish.jpg" alt='Scottish' />
            <br>
            <p>Шотла́ндія (Альба, шотл. гел. Alba МФА: [ˈalˠ̪əpə], англ. Scotland МФА: [ˈskɒt.lənd]) — країна, частина Об'єднаного
                Королівства[1][2][3], колись незалежна держава. Займає північну частину Великої Британії, на півдні межує
                з Англією, на сході її береги омиває Північне море, на півночі й заході Атлантичний океан, на південному
                заході — Північна протока та Ірландське море. Окрім того, Шотландія складається ще із близько 790 островів[4],
                серед яких архіпелаги Шетландські, Оркнейські[5] та Гебридські острови.</p>

        </div>
    </div>


</div>